<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>change password</title>
    <link rel="icon" href="../static/images/chiliLogo.jpg" type="image/icon">
    <link href="css/Chilli.css" rel="Stylesheet">
</head>
<body>
<main>
    <h4>Change password</h4>
    <form method="post">
        <label for="oldPassword">Old Password:</label>
        <input type="text" id="oldPassword" name="oldPassword" required><br><br>
        <label for="password2">new Password:</label>
        <input type="text" id="password" name="password" required><br><br>
        <label for="password2">Password*:</label>
        <input type="text" id="password2" name="password2" required><br><br>
        <input type="submit" value="Change password">
    </form>
    <br>
    <img src="../static/images/Chily.png">
</main>
</body>