<!DOCTYPE html>
<html lang="cs-cz" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>Hot company ORG</title>
    <link rel="icon" href="images/chiliLogo.jpg" type="image/icon">
    <link href="css/Chilli.css" rel="Stylesheet">
</head>
<body>
<nav class="SideMenu">
    <img src="images/chiliLogo.jpg" alt="logo">
    <ul class="SideMenuUl">
        <li><a href="/"><i></i>Domů</a></li>
        <li><a href="/about"><i></i>O nás</a></li>
        <li><a href="/priceList"><i></i>Ceník</a></li>
        <li><a href="/aboutChylli"><i></i>O papričkách</a></li>
        <li><a href="/ToUserHome"><i></i>Mé rostlinky</a></li>
        <li><a href="/support"><i></i>Podpora</a></li>
    </ul>
</nav>

<main>
    <h1>Výtejte v Hot Company</h1>

    <h2>O nás</h2>
    <p>Jsme inovativní organizace zaměřená na pěstování a doručování nejpálivějších chili papriček přímo k vašim dveřím.
        V Hot Company se specializujeme na pěstování chili papriček v krásných terakotových květináčích, které si můžete
        objednat z pohodlí vašeho domova. Postaráme se o rostlinu od semínka až po zralou rostlinu, abychom zajistili,
        že bude zdravá a silná, než vám ji pošleme!</p>

    <h2>Jak to funguje</h2>
    <p>Objednání z Hot Company je jednoduché. Stačí si vybrat svou oblíbenou odrůdu chili papričky a o zbytek se
        postaráme my! Náš tým odborníků pečlivě zasadí a vypěstuje chili papričku v udržitelném terakotovém květináči.
        Jakmile bude vaše rostlina plně vzrostlá, bezpečně ji zabalíme a odešleme přímo na vaši adresu, připravenou
        oživit váš domov nebo zahradu.</p>

    <h2>Proč si nás vybrat?</h2>
    <p>Naším cílem je přinést radost z pěstování a vzrušení z čerstvých, doma vypěstovaných chili papriček všem. Ať už
        jste zkušený zahrádkář nebo teprve začínáte, naše bezproblémová služba vám zajistí krásnou, silnou rostlinu bez
        jakékoli námahy. Navíc každá rostlina přichází v ekologickém, ručně vyráběném terakotovém květináči, který se
        hodí do každého prostředí.</p>

</main>
<footer><strong>E-mail: </strong> <a href="emailto:podpora@hotcompany.com">podpora@hotcompany.com</a> <strong>Telefon: </strong><a href="tel:+420123456789">+420 123 456 789</a> <strong class="adress">Adresa:</strong> <span class="adress">Chili Pepper Lane 123, Město koření, PSČ 98765</span></footer>
</body>
</html>