<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/Chilli.css" rel="Stylesheet">
    <title>Hot Company - Domácí stránka</title>
</head>
<body>
<nav class="SideMenu">
    <img src="images/chiliLogo.jpg" alt="logo">
    <ul class="SideMenuUl">
        <li><a href="/"><i></i>Domů</a></li>
        <li><a href="/about"><i></i>O nás</a></li>
        <li><a href="/priceList"><i></i>Ceník</a></li>
        <li><a href="/aboutChylli"><i></i>O papričkách</a></li>
        <li><a href="/ToUserHome"><i></i>Mé rostlinky</a></li>
        <li><a href="/support"><i></i>Podpora</a></li>
    </ul>
</nav>
<main>
    <h1>Cenník</h1>
    <p>Cenník se odvíjí od průměrné cenny elektrické energie za poseldní měsíc. A je orientační.</p>
    <p>Jednotlivé cenny budeme zaučtovávat každý měsíc, a to dle spotřeboavanné elektricé energie.</p>
    
</main>
<footer><strong>E-mail: </strong> <a href="email:podpora@hotcompany.com">podpora@hotcompany.com</a> <strong>Telefon:</strong><a href="tel:+420123456789">+420 123 456 789</a> <strong class="adress">Adresa:</strong> <span class="adress">Chili Pepper Lane 123, Město koření, PSČ 98765</span></footer>
</body>
</html>